[Unit]
Description=btjchm irc bot service
Documentation=https://github.com/jchmrt/btjchm
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/btjchm/
ExecStart=/bin/sh /opt/btjchm/btjchm.sh
Restart=on-failure
User=btjchm

[Install]
WantedBy=multi-user.target
